GomokuMatchMaker/packages/
GomokuServer/packages/
GomokuClient/packages/
*.db
*.iobj
*.ipdb
*.opendb
/GomokuClient/GomokuClient/x64/Debug
/GomokuClient/x64
bin/FlexMatch/GomokuServer/vc_redist.x64.exe

